body {
  font-family: "American Horror Story", sans-serif;
  color: rgb(253, 247, 240);
  text-shadow: 2px 3px 4px #000000;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7e/Francisco_de_Goya_y_Lucientes_-_Witches_Sabbath_-_Google_Art_Project.jpg");
  background-size: cover;
  background-position-y: 20%;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  text-shadow: 2px 2px 4px #000000;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: rgb(253, 247, 240);
  text-shadow: 2px 2px 4px #000000;
  font-size: 18px;
  font-weight: 100;
  line-height: 19px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: none;
  border-radius: 5px;
  background: rgb(135, 135, 135, 0.4);
}
.city-input {
  background-color: black;
  border-style: none;
}

.btn {
  background-color: black;
  color: rgb(253, 247, 240);
  border-style: none;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(253, 247, 240);
  color: black;
  text-shadow: 4px 4px 4px rgb(183, 18, 18);
  border-style: none;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 20px;
}

.weather-forecast-temp-min {
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 13px;
  font-weight: 300;
}

.github {
  text-shadow: 2px 2px 4px black;
}

.code-link {
  color: black;
  text-shadow: none;
}

.code-link:hover {
  color: rgb(253, 247, 240);
  text-shadow: 4px 4px 4px rgb(183, 18, 18);
}
